.App{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
 
  cursor: pointer;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  padding-bottom: 85px;
}

.heading{
  margin-top: 20px;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 10px;

  color: blueviolet;
  font-family: 'Abril Fatface', cursive;
font-family: 'Martel', serif;
font-family: 'Space Grotesk', sans-serif;
  letter-spacing: 0.5px;

}